#container{
    width: 100%
}
header,main,footer{
    text-align: center;
}
#nav{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10;
}

.nav-item > a{
    color: black;
    text-decoration: none;
}