#container{
    width: 100%
}
header,main,footer{
    text-align: center;
}

main{
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin: 10px 0;/*위 아래 여백, 좌우여백*/
}
#nav{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10;
}

.nav-item > a{
    color: black;
    text-decoration: none;
}
#board-list{
    margin: 10px auto;
    width: 700px;
}

#board-list,#board-list th, #board-list td{
    border: 1px solid;
    border-collapse: collapse;
}